body{
  background: linear-gradient(to bottom right, #49364A, #252D4D);
  color: #fff;
  font-family: 'Itim', cursive;
}
.container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form{
  width: 100%;
}
.container-form{
  position: relative;  
  top: -100px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;  
}
.header-form{
  font-size: 32px;
  padding: 10px 0px;
}
.form-group{
  display: flex;
  justify-content: center;
}
.form-input{
  width: 100%;
  border: 1px solid #221C29;
  background-color: #2F2936;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px #534D5A;
  padding: 10px;
  color: #909090;
  outline: none;
  margin-bottom: 10px;
}
.form-button-blue{
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  outline: none;
  /*border:1px solid #2F2936;*/
  background: linear-gradient(to bottom, #77B8DD, #5179D0);
  box-shadow: inset 0px 1px 1px 0px #90CAEC;
  box-shadow: 0px 0px 1px 0px #221C29;
}
.form-button-blue:active{
  box-shadow: inset 0px 0px 10px 0px #4261A9;
}
